version: '3.6'

services:
  gitlab:
    image: 'gitlab/gitlab-ce:{{ gitlab_ce_version }}'
    container_name: 'gitlab'
    restart: always
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http{{ enable_ssl | ternary("s", "") }}://{{ gitlab_external_url }}'
        gitlab_rails['initial_root_password'] = '{{ gitlab_root_password }}'

        nginx['listen_port'] = 80
        nginx['listen_https'] = false

        {% if gitlab_external_postgres %}
        postgresql['enable'] = false
        gitlab_rails['db_username'] = '{{ psql_username }}'
        gitlab_rails['db_password'] = '{{ psql_password }}'
        gitlab_rails['db_database'] = '{{ psql_database }}'
        gitlab_rails['db_host'] = '{{ psql_host }}'
        gitlab_rails['db_port'] = {{ psql_port }}
        gitlab_rails['db_adapter'] = 'postgresql'
        gitlab_rails['db_encoding'] = 'unicode'
        {% endif %}

        {% if gitlab_external_keycloak %}
        gitlab_rails['omniauth_allow_single_sign_on'] = ['openid_connect']
        gitlab_rails['omniauth_block_auto_created_users'] = false
        gitlab_rails['omniauth_providers'] = [{
          'name' => 'openid_connect',
          'label' => 'Keycloak',
          'args' => {
            'name' => 'openid_connect',
            'scope' => ['openid','profile','email'],
            'response_type' => 'code',
            'issuer' => 'https://{{ keycloak_issuer }}/realms/{{ keycloak_realm }}',
            'discovery' => true,
            'client_auth_method' => 'query',
            'client_options' => {
              'identifier' => '{{ keycloak_client_name }}',
              'secret' => '{{ keycloak_client_secret }}',
              'redirect_uri' => 'https://{{ gitlab_external_url }}/users/auth/openid_connect/callback'
            }
          }
        }]
        {% endif %}

        {% if gitlab_external_ldap %}
        gitlab_rails['ldap_enabled'] = true
        gitlab_rails['ldap_servers'] = {
          'main' => {
            'label' => 'LDAP',
            'host' => '{{ ldap_bind_params.host }}'
            'port' => {{ ldap_bind_params.port }}
            'uid' => '{{ ldap_bind_params.uid }}'
            'bind_dn' => '{{ ldap_bind_params.bind_dn }}'
            'password' => '{{ ldap_bind_params.password }}'
            'encryption' => '{{ ldap_bind_params.encryption }}'
            'base' => '{{ ldap_bind_params.base }}'
            'verify_certificates' => '{{ ldap_bind_params.verify_certificates }}'
            'active_directory' => true
            'allow_username_or_email_login' => false
            'lowercase_usernames' => false
            'block_auto_created_users' => false
          }
        }
        {% endif %}

        {% if gitlab_external_minio %}
        gitlab_rails['object_store']['enabled'] = true
        gitlab_rails['object_store']['connection'] = {
          'provider' => 'AWS',
          'aws_access_key_id' => '{{ minio_access_key }}',
          'aws_secret_access_key' => '{{ minio_secret_key }}',
          'endpoint' => '{{ minio_endpoint }}',
          'path_style' => true
        }
        gitlab_rails['object_store']['objects']['artifacts']['bucket'] = '{{ minio_buckets.artifacts }}'
        gitlab_rails['object_store']['objects']['external_diffs']['bucket'] = '{{ minio_buckets.external_diffs }}'
        gitlab_rails['object_store']['objects']['lfs']['bucket'] = '{{ minio_buckets.lfs }}'
        gitlab_rails['object_store']['objects']['uploads']['bucket'] = '{{ minio_buckets.uploads }}'
        gitlab_rails['object_store']['objects']['packages']['bucket'] = '{{ minio_buckets.packages }}'
        gitlab_rails['object_store']['objects']['dependency_proxy']['bucket'] = '{{ minio_buckets.dependency_proxy }}'
        gitlab_rails['object_store']['objects']['terraform_state']['bucket'] = '{{ minio_buckets.terraform_state }}'
        gitlab_rails['object_store']['objects']['ci_secure_files']['bucket'] = '{{ minio_buckets.ci_secure_files }}'
        gitlab_rails['object_store']['objects']['pages']['bucket'] = '{{ minio_buckets.pages }}'
        {% endif %}

        redis['enable'] = false
        gitlab_rails['redis_host'] = 'redis'
        gitlab_rails['redis_port'] = '6379'

        prometheus['enable'] = false
        letsencrypt['enabled'] = false

        gitlab_rails['gitlab_shell_ssh_port'] = {{ gitlab_container_ssh_port }}
    volumes:
      - '{{ gitlab_repo_path }}/config:/etc/gitlab'
      - '{{ gitlab_repo_path }}/certs:/etc/gitlab/trusted-certs'
      - '{{ gitlab_repo_path }}/logs:/var/log/gitlab'
      - '{{ gitlab_repo_path }}/data:/var/opt/gitlab'
    ports:
      - '{{ gitlab_container_port }}:80'
      - '{{ gitlab_container_ssh_port }}:22'
    depends_on:
      - redis
  redis:
    image: 'redis:{{ redis_version }}'
    container_name: 'redis'
    restart: always
    volumes:
      - 'redis_data:/var/lib/redis'
volumes:
  redis_data:
